@model WebDoDienTu.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Thêm sản phẩm</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-area="admin" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active">Create Product</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">             
                <h1>Thông tin sản phẩm</h1>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="ProductName" class="control-label"></label>
                                <input asp-for="ProductName" class="form-control" />
                                <span asp-validation-for="ProductName" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="ImageUrl" class="control-label"></label>
                                <input type="file" asp-for="ImageUrl" class="form-control" />
                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="Images" class="control-label"></label>
                                <input type="file" asp-for="Images" multiple class="form-control" />
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="CategoryId" class="control-label"></label>
                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                            </div>
                            <br />
                            <div class="form-group">
                                <input type="submit" value="Thêm mới" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
                <br />
                <div>
                    <a asp-action="Index">Trở về</a>
                </div>

            </div>
        </div>
    </div>
</main>