@model WebDoDienTu.Models.Voucher

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Thông tin voucher</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-area="admin" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active">Update Voucher</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                <h4>Voucher</h4>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Name" class="control-label">Tên mã</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label">Nội dung</label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Code" class="control-label">Mã</label>
                                <input asp-for="Code" class="form-control" />
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ExpiryDate" class="control-label">Ngày hết hạn</label>
                                <input asp-for="ExpiryDate" class="form-control" />
                                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Value" class="control-label">Giá trị</label>
                                <input asp-for="Value" class="form-control" />
                                <span asp-validation-for="Value" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SoLuong" class="control-label">Số lượng</label>
                                <input asp-for="SoLuong" class="form-control" />
                                <span asp-validation-for="SoLuong" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group">
                                <input type="submit" value="Lưu" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
                <br />
                <div>
                    <a asp-action="Index">Trở về</a>
                </div>
            </div>
        </div>
    </div>
</main>
